{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }} {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.hotel) }} {{ form_widget(form.hotel) }}
        </div>
        <div class="form-groups">
            <ul id="person-fields-list"
                data-prototype="{{ form_widget(form.persons.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.persons|length }}">
                {% for personField in form.persons %}
                    <li>
                        <div class="form-group">
                            {{ form_errors(personField) }}
                            {{ form_widget(personField) }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#person-fields-list">Add another email
        </button>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
{% endblock %}
